body {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/*Первый блок*/

header {
    width: 1920px;
    height: 110px;
}

/*Названия для классов подбирал под блоки*/

.container {
    width: 1116px;
    height: 57px;
    top: 22px;
    left: 405px;
    position: absolute;
}
.png_logo {
    width: 40px;
    height: 40px;
    top: 11px;
    position: absolute;
}
.name { 
    width: 190px;
    height: 43px;
    left: 70px;
    top: 11px;
    color: #005fa3;
    font-size: 34px;
    position: absolute;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

#info_line {
    width: 671px;
    height: 18px;
    float: right;
}

.info_1 {
    width: 130px;
    height: 18px;
    display: inline-block;
}

.info_2 {
    width: 145px;
    height: 18px;
    overflow: hidden;
    margin-left: 40px;
    display: inline-block;
}

.info_3 {
    width: 133px;
    height: 18px;
    overflow: hidden;
    margin-left: 41px;
    display: inline-block;
}

.info_4 {
    width: 130px;
    height: 18px;
    overflow: hidden;
    margin-left: 40px;
    display: inline-block;
}

.png_phone {
    width: 10px;
    height: 18px;
    display: inline-block;
}

.phone {
    width: 107px;
    height: 18px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.png_clock {
    width: 17px;
    height: 17px;
    display: inline-block;
}

.clock {
    width: 113px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.png_mail {
    width: 23px;
    height: 17px;
    display: inline-block;
}

.mail {
    width: 100px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.png_geolocation {
    width: 17px;
    height: 17px;
    display: inline-block;
}

.geolocation {
    width: 98px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    float: right;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}



#menu_line {
    width: 671px;
    height: 17px;
    padding: 0;
    margin: 0;
    float: right;
    margin-top: 22px;
}
.menu_1 {
    width: 76px;
    height: 17px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: -3px;
}

.menu_2 {
    width: 65px;
    height: 17px;
    overflow: hidden;
    margin-left: 61px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: -3px;
}

.menu_3 {
    width: 55px;
    height: 17px;
    overflow: hidden;
    margin-left: 68px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: -3px;
}

.menu_4 {
    width: 111px;
    height: 17px;
    overflow: hidden;
    margin-left: 68px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: -3px;
}

.menu_5 {
    width: 91px;
    height: 17px;
    margin-left: 60px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    margin-top: -3px;
}

/*Второй блок*/

.base {
    width: 1920px;
    height: 670px;;
    background-image: url('Картинки/Rectangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.text_1 {
    font-size: 45px;
    left: 405px;
    top: 170px;
    width: 589px;
    height: 117px;
    color: #ffff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-style: normal;
    position: absolute;
}

.but_1 {
    width: 270px;
    height: 60px;
    left: 405px;
    top: 367px;
    background-color: #005fa3;
    position: absolute;
}

.text_2 {
    font-size: 18px;
    margin: 10px;
    width: 234px;
    height: 22px;
    text-align: center;
    vertical-align: middle;
    color: #ffff;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.png_spots {
    width: 160px;
    height: 11px;
    left: 405px;
    top: 547px;
    position: absolute;
}

.png_arrow_prev {
    width: 60px;
    height: 60px;
    left: 1395px;
    top: 497px;
    position: absolute;
}

.png_arrow_next {
    width: 60px;
    height: 60px;
    left: 1455px;
    top: 497px;
    position: absolute;
}